/* Сброс стандартных отступов и внутренних полей */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Основной стиль для всего сайта */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

/* Хедер */
header {
    background-color: #005b99;
    color: white;
    padding: 20px 0;
}

.header-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 0;
}

nav ul {
    list-style: none;
    display: flex;
}

    nav ul li {
        margin: 0 15px;
    }

        nav ul li a {
            color: white;
            text-decoration: none;
            font-size: 1.1em;
        }

            nav ul li a:hover, .active {
                text-decoration: underline;
            }

/* Основной контент */
main {
    padding: 50px 0;
    background-color: #fff;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h2 {
    font-size: 2em;
    color: #0044cc;
    margin-bottom: 20px;
    text-align: center;
}

.project-members .member-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    margin-top: 20px;
}

.member-card, .curator-card {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.member-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.member-card h3, .curator-card h3 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

.member-card p, .curator-card p {
    font-size: 1.1em;
    color: #555;
}

/* Футер */
footer {
    background-color: #eee;
    color: white;
    text-align: center;
    padding: 15px 0;
}

    footer p {
        font-size: 1em;
    }
